/* etc */
:root {
    --padding: 1rem;
}

html {
    font-size: 16px;
}

body {
    margin:  0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: grid;
    place-items: center;
    height: 100dvh;


}

.container {
    display: block;
    width: 80dvw;
    height: 80dvh;
    overflow: visible;
    position: relative;
    border: 1px solid darkmagenta;

}

@keyframes move {
    0% {
        top: 0;
        left: 50%;
    }
    25% {
        top: 50%;
        left: 100%;
    }
    50% {
        top: 100%;
        left: 50%;
    }
    75% {
        top: 50%;
        left: -10%;
    }
    100% {
        top: 0;
        left: 50%;
    }

}

.anchor{
    cursor: move;
    font-size: 6rem;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 50%;

    width: 10rem;
    height: 10rem;
    background-color: cornflowerblue;
    color: white;
    border-radius: 50%;
    anchor-name: --anchor-one;
    animation: move 8s infinite ease-in-out;
}
/* Make keyframe animation of anchor element.  animate it from the top to the bottom */



.balloon {
    display: grid;
    place-items: center;
    position: absolute;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;

    background-color: darkseagreen;

    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    position-anchor: --anchor-one;
    position-try-options: flip-inline, flip-block;
    opacity: 0.7;
    /*transition: all 0.1s;*/
}

.balloon:nth-child(1) {
    bottom: anchor(--anchor-one top);
    right: anchor(--anchor-one left);

    background-color: tomato;
}
.balloon:nth-child(2) {
    inset-area: top center;
background-color: darkorange;
}

.balloon:nth-child(3) {
    bottom: anchor(--anchor-one top);
    left: anchor(--anchor-one right);
    background-color: gold;
}
.balloon:nth-child(4) {
    inset-area: right;
    background-color: lightseagreen;
}
.balloon:nth-child(5) {
    top: anchor(--anchor-one bottom);
    left: anchor(--anchor-one right);
    background-color: lightblue;
}
.balloon:nth-child(6) {
    inset-area: bottom;
    background-color: mediumorchid;
}
.balloon:nth-child(7) {
    top: anchor(--anchor-one bottom);
    right: anchor(--anchor-one left);
    background-color: mediumseagreen;

}
.balloon:nth-child(8) {
    inset-area: left;
    background-color: mediumslateblue;
}



